<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dimensions Tracker</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body id="post">
      <div id="content">
        <h1>Packs</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Wave</th>
                </tr>
            </thead>
            {% for pack in data.packs %}
                <tr>
                    <td><a href="pack/{{ pack.id }}.html">{{ pack.name }}</a></td>
                    <td>{{ pack.type }}</td>
                    <td>{{ pack.wave }}</td>
                </tr>
            {% endfor %}
        </table>

        <h1>Levels</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Pack</th>
                </tr>
            </thead>
            {% for level in data.levels %}
                <tr>
                    <td><a href="level/{{ level.id }}.html">{{ level.name }}</a></td>
                    <td>{{ level.pack }}</td>
                </tr>
            {% endfor %}
        </table>
      </div>
    </body>
</html>
