<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ pack.name }} | Dimensions Tracker</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body id="post">
      <div id="content">
        <h1>{{ pack.name }}</h1>
        <p>{{ pack.id }}</p>
        <p>Wave {{ pack.wave }}</p>
        {% if pack.pieces %}
            <h3>Pieces</h3>
        {% endif %}
        
        {% for piece in pack.pieces %}
            <p>{{ piece.name }}</p>
            <p>{{ piece.universe }}</p>
            <ul>
            {% for skill in piece.skills %}
                <li>{{ skill }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
        
      </div>
    </body>
</html>
